// Section Banner
.section-banner {
    width: 100%;
    display: block;
    .banner-images {
        width: 100%;
        display: block;
    }
}

// Section Button
.section-button {
    background-color: aqua;
    .group-buttons {
        color: red;
    }
}

// .section-slide {
    
// }