/////////////////////////////////
// Main
.main {
  overflow-x: hidden;

  #button__story {
    position: fixed;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    bottom: 300px;
    right: 30px;
    outline: none;

    // Laptop 1368
    @media #{$info-laptop-normal} {
      bottom: 250px;
    }

    // Ipad Pro
    @media #{$info-laptop-smallest} {
      right: 11px;
      bottom: 200px;
    }

    // Ipad
    @media #{$info-ipad} {
      right: 15px;
      bottom: 150px;
    }

    // Phone
    @media #{$info-phone-normal} {
      right: 5px;
    }

    .button-top__story {
      background-color: #0071bc;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 4px;
      display: inline-block;

      &::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
        line-height: 40px;
        color: #fff;
      }

      &:hover {
        cursor: pointer;
        background-color: #2f87c2;
      }

      // Laptop 1440
      @media #{$info-laptop-medium} {
        width: 35px;
        height: 35px;

        &::after {
          font-size: 25px;
          line-height: 33px;
        }
      }

      // Laptop 1368
      @media #{$info-laptop-small} {
        width: 30px;
        height: 30px;

        &::after {
          font-size: 20px;
          line-height: 30px;
        }
      }

      // Ipad Pro
      @media #{$info-laptop-smallest} {
        width: 40px;
        height: 40px;

        &::after {
          font-size: 30px;
          line-height: 40px;
        }
      }

      // Ipad
      @media #{$info-ipad} {
        width: 30px;
        height: 30px;

        &::after {
          font-size: 20px;
          line-height: 30px;
        }
      }

      // Phone
      @media #{$info-phone-normal} {
        width: 25px;
        height: 25px;

        &::after {
          font-size: 18px;
          line-height: 23px;
        }
      }
    }

    p {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      margin: 0 auto;
      margin-top: 16px;
      font-size: 27px;
      font-family: Verdana;
      cursor: pointer;

      // Laptop 1440
      @media #{$info-laptop-medium} {
        margin-top: 12px;
        font-size: 25px;
      }

      // Laptop 1280
      @media #{$info-laptop-small} {
        margin-top: 10px;
        font-size: 20px;
      }

      // Ipad Pro
      @media #{$info-laptop-smallest} {
        margin-top: 12px;
        font-size: 23px;
      }

      // Ipad
      @media #{$info-ipad} {
        margin-top: 12px;
        font-size: 20px;
      }

      // Phone
      @media #{$info-phone-normal} {
        margin-top: 5px;
        font-size: 15px;
      }
    }
  }

  #button__story.show {
    opacity: 1;
    visibility: visible;
  }
}

/////////////////////////////////////////////////
// Section Banner
.section-banner {
  width: 100%;
  display: block;

  .banner-images {
    width: 100%;
    display: block;
  }
}

/////////////////////////////////////////////////
// Section Button
.section-action__story {
  .group-action {
    @include flex();
    justify-content: space-between;
    padding: 30px 0 20px;

    // Laptop 1280
    @media #{$info-laptop-small} {
      padding-top: 25px;
    }

    // Ipad Pro
    @media #{$info-laptop-smallest} {
      padding-top: 20px;
    }

    // Ipad
    @media #{$info-ipad} {
      padding-top: 20px;
    }

    // Phone
    @media #{$info-phone-normal} {
      padding-top: 10px;
    }

    .btn-action {
      outline: none;
      padding: 3px 10px 6px;
      font-size: 26px;
      font-family: UTMAvoBold;
      border-radius: 15px;
      background-color: #0071bc;
      border: 1px solid #0071bc;
      color: white;
      cursor: pointer;
      width: 400px;
      @include box-shadow(0, 5px, 15px, rgba(0, 0, 0, 0.4));
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      &:hover {
        border: 1px solid white;
        background-color: white;
        color: #0071bc;
        @include box-shadow(4px, 5px, 10px, rgba(0, 0, 0, 0.5));
        transition: ease-in-out 0.2s;
      }

      &:active {
        @include box-shadow(0 5px 15px rgba(0, 0, 0, 0.5));
        transform: translateY(4px);
      }

      // Laptop 1280
      @media #{$info-laptop-small} {
        font-size: 18px;
        width: 300px;
      }

      // Ipad Pro
      @media #{$info-laptop-smallest} {
        padding: 4px 2px 8px;
        font-size: 16px;
        border-radius: 18px;
        width: 300px;
      }

      // Phone
      @media #{$info-phone-normal} {
        padding: 3px 0 5px;
        font-size: 12px;
        border-radius: 9px;
        width: 140px;

        &:hover {
          @include box-shadow(3px, 3px, 8px, rgba(0, 0, 0, 0.5));
        }
      }
    }
  }
}

/////////////////////////////////////////////////
// Section Info Area
.section-info-area__story {
  @include flex();
  margin: 50px 0 30px;

  // Laptop 1440
  @media #{$info-laptop-medium} {
    margin: 20px 0 30px;
  }

  // Laptop 1280
  @media #{$info-laptop-small} {
    margin: 15px 0 15px;
  }

  // Ipad Pro
  @media #{$info-laptop-smallest} {
    margin: 10px 0 10px;
  }

  .group-text {
    position: relative;

    h3 {
      font-family: BrushScript;
      font-size: 45px;

      // Laptop 1280
      @media #{$info-laptop-small} {
        font-size: 25px;
      }

      // Ipad Pro
      @media #{$info-laptop-smallest} {
        font-size: 30px;
      }

      // Phone
      @media #{$info-phone-normal} {
        font-size: 25px;
      }
    }

    h4 {
      font-size: 35px;
      font-family: UTMAvoBold;
      color: #0071bc;

      // Laptop 1280
      @media #{$info-laptop-small} {
        font-size: 20px;
      }

      // Ipad Pro
      @media #{$info-laptop-smallest} {
        font-size: 30px;
      }

      // Phone
      @media #{$info-phone-normal} {
        font-size: 25px;
      }
    }

    .test-img {
      @include flex();

      p {
        margin-top: 15px;
        font-size: 18px;
        flex-basis: 60%;
        font-family: Verdana;

        // Laptop 1280
        @media #{$info-laptop-small} {
          font-size: 14px;
          margin-top: 12px;
        }

        // Ipad Pro
        @media #{$info-laptop-smallest} {
          margin: 13px 0;
          font-size: 18px;
          flex-basis: 100%;
          font-weight: bolder;
          border-radius: 10px;
          background-color: rgba(0, 113, 188, 0.5);
          padding: 10px 20px;
          z-index: 1;
          color: white;
          line-height: 30px;
        }

        // Phone
        @media #{$info-phone-normal} {
          margin-top: 5px;
          padding: 10px;
          font-size: 13px;
          flex-basis: 100%;
          line-height: 20px;
        }
      }
    }

    .image-tree {
      position: absolute;
      top: -30px;
      right: 0;
      width: 410px;
      height: 400px;
      z-index: -1;

      // Laptop 1440
      @media #{$info-laptop-medium} {
        top: 0;
        width: 500px;
        height: 310px;
      }

      // Laptop 1280
      @media #{$info-laptop-small} {
        top: 0;
        width: 480px;
        height: 290px;
      }

      // Ipad Pro
      @media #{$info-laptop-smallest} {
        top: 0;
        right: 0;
        width: 640px;
        height: 400px;
        z-index: -1;
      }

      // Phone
      @media #{$info-phone-normal} {
        top: -5px;
        right: -40px;
        width: 300px;
        height: 220px;
        z-index: -1;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/////////////////////////////////////////////////
// Section Story
.section-story {
  position: relative;

  ////////////////////////////////////////
  // Modal
  .modal {
    position: fixed;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;

    .modal-overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(0, 0%, 0%, 0.5);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.3s, opacity 0.3s;
    }

    .modal-wrapper {
      position: absolute;
      z-index: 9999;
      top: 50%;
      left: 50%;
      width: 32em;
      margin-left: -16em;
      background-color: #fff;
      box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
      position: fixed;
      border-radius: 15px;

      // Phone
      @media #{$info-phone-normal} {
        left: 0;
        width: 80%;
        margin: 0 10%;
      }

      // Phone Small
      @media #{$info-phone-small} {
        left: 0;
      }

      .modal-header,
      .modal-content {
        padding: 1em;
      }

      .modal-header {
        position: relative;
        background-color: #fff;
        box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
        background: border-box;

        .modal-close {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1em;
          color: #aaa;
          background: none;
          border: 0;
          float: right;

          &:hover {
            color: #777;
          }
        }

        .modal-heading {
          font-size: 1.125em;
          margin: 0;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }

      .modal-body {
        .modal-content > *:first-child {
          margin-top: 0;
        }

        .modal-content > *:last-child {
          margin-bottom: 0;
        }

        .modal-content {
          p {
            margin-bottom: 10px;
          }

          .btn-close {
            float: right;
            margin-bottom: 20px;
            background-color: green;
            border-radius: 10px;
            width: 50px;
            border: 1px solid green;
            font-size: 15px;
            font-weight: bold;
            color: white;
            outline: none;
            @include box-shadow(2px, 3px, 8px, rgba(0, 0, 0, 0.4));
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            &:hover {
              background-color: rgb(98, 180, 98);
              border: 1px solid rgb(98, 180, 98);
            }
          }
        }
      }
    }

    .modal-transition {
      transition: all 0.3s 0.12s;
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  .modal.is-visible {
    visibility: visible;

    .modal-overlay {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }

    .modal-transition {
      transform: translateY(-50%);
      opacity: 1;
    }
  }

  //////////////////////////////

  .slick-prev {
    position: absolute;
    left: -140px;
    color: transparent;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    @include box-shadow(0, 3px, 10px, rgba(0, 0, 0, 0.4));
    @include flex();
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include flex();
    justify-content: center;
    outline: none;
    background-color: white;
    border: none;

    &::before {
      content: "";
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 25px solid #0071bc;
      position: inherit;
      margin-right: 5px;

      // Laptop 1440
      @media #{$info-laptop-medium} {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 22px solid #0071bc;
      }

      // Laptop 1280
      @media #{$info-laptop-small} {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 20px solid #0071bc;
      }
    }

    // Laptop 1440
    @media #{$info-laptop-medium} {
      left: -110px;
    }

    // Laptop 1368
    @media #{$info-laptop-normal} {
      height: 60px;
      width: 60px;
    }

    // Laptop 1280
    @media #{$info-laptop-small} {
      height: 50px;
      width: 50px;
    }

    // Laptop 1200
    @media #{$info-laptop-smallest} {
      display: none !important;
    }
  }

  .slick-next {
    border: none;
    position: absolute;
    top: 50%;
    color: transparent;
    right: -140px;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    @include box-shadow(0, 5px, 15px, rgba(0, 0, 0, 0.4));
    @include flex();
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include flex();
    outline: none;
    justify-content: center;
    background-color: white;

    &::before {
      content: "";
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 25px solid #0071bc;
      margin-left: 5px;
      position: inherit;

      // Laptop 1440
      @media #{$info-laptop-medium} {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 22px solid #0071bc;
      }

      // Laptop 1280
      @media #{$info-laptop-small} {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 20px solid #0071bc;
      }
    }

    // Laptop 1440
    @media #{$info-laptop-medium} {
      right: -110px;
    }

    // Laptop 1368
    @media #{$info-laptop-normal} {
      height: 60px;
      width: 60px;
    }

    // Laptop 1280
    @media #{$info-laptop-small} {
      height: 50px;
      width: 50px;
    }

    // Laptop 1200
    @media #{$info-laptop-smallest} {
      display: none !important;
    }
  }

  .photo-slider {
    .photo-item {
      width: auto;
      outline: none;
      display: grid;
      grid-row-gap: 33px;
      grid-template-columns: repeat(2, 50%);
      justify-items: center;

      // Phone
      @media #{$info-phone-normal} {
        grid-template-columns: repeat(1, 100%);
      }
    }

    .image-story {
      border-radius: 10px;
      width: 80%;
      height: 299px;
      position: relative;
      @include flex();
      justify-content: center;

      // Laptop 1440
      @media #{$info-laptop-medium} {
        height: 290px;
      }

      // Laptop 1368
      @media #{$info-laptop-normal} {
        height: 263px;
      }

      // Laptop 1280
      @media #{$info-laptop-small} {
        height: 233px;
      }

      // Laptop 1200
      @media #{$info-laptop-smallest} {
        height: 264px;
        width: 80%;
      }

      // Ipad Pro
      @media #{$info-ipad-pro} {
        height: 213px;
        width: 90%;
      }

      // Phone
      @media #{$info-phone-normal} {
        height: 252px;
        width: 100%;
      }

      // Phone Small
      @media #{$info-phone-small} {
        height: 212px;
      }

      .image {
        height: 100%;
        width: 100%;
        position: relative;

        img {
          cursor: pointer;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .info {
        width: 85%;
        height: 65%;
        position: absolute;
        top: 50%;
        transform: translateY(-45%);

        // Laptop 1440
        @media #{$info-laptop-medium} {
          width: 80%;
          height: 60%;
          transform: translateY(-50%);
        }

        // Ipad
        @media #{$info-ipad} {
          height: 70%;
          transform: translateY(-45%);
        }

        // Phone Small
        @media #{$info-phone-small} {
        }

        h3 {
          font-size: 20px;
          cursor: pointer;
          margin-left: 10px;
          text-align: left;
          margin-bottom: 10px;

          // Laptop 1440
          @media #{$info-laptop-medium} {
            font-size: 18px;
            margin-bottom: 8px;
          }

          // Laptop 1368
          @media #{$info-laptop-normal} {
            font-size: 16px;
            margin-bottom: 7px;
          }

          // Laptop 1280
          @media #{$info-laptop-small} {
            font-size: 15px;
          }

          // Ipad Pro
          @media #{$info-laptop-smallest} {
            font-size: 17px;
          }

          // Ipad
          @media #{$info-ipad} {
            font-size: 15px;
          }

          // Phone
          @media #{$info-phone-normal} {
            font-size: 15px;
          }
        }

        p {
          font-size: 16px;
          margin-bottom: 15px;
          display: inline;
          -webkit-line-clamp: 7;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          word-wrap: break-word;

          // Laptop 1440
          @media #{$info-laptop-medium} {
            font-size: 16px;
          }

          // Laptop 1368
          @media #{$info-laptop-normal} {
            font-size: 14px;
            margin-bottom: 10px;
          }

          // Laptop 1280
          @media #{$info-laptop-small} {
            margin-bottom: 5px;
          }

          // Laptop 1200
          @media #{$info-laptop-smallest} {
            font-size: 15px;
          }

          // Ipad
          @media #{$info-ipad} {
            font-size: 13px;
          }

          // Phone
          @media #{$info-phone-normal} {
            font-size: 14px;
          }

          // Phone Small
          @media #{$info-phone-small} {
            font-size: 13px;
          }
        }

        .btn-more {
          cursor: pointer;
          border: 1px solid #dddad7;
          border-radius: 5px;
          font-size: 18px;
          background-color: #dddad7;
          color: #4d4d4d;
          outline: none;
          float: right;
          font-family: CourierNew;
          font-weight: bold;
          font-style: italic;
          padding: 5px 7px;
          @include box-shadow(2px, 3px, 8px, rgba(0, 0, 0, 0.4));

          &:hover {
            background-color: #ebeae9;
          }

          // Laptop 1440
          @media #{$info-laptop-medium} {
            font-size: 16px;
          }

          // Laptop 1368
          @media #{$info-laptop-normal} {
            font-size: 14px;
            padding: 3px 5px;
          }

          // Laptop 1280
          @media #{$info-laptop-small} {
            font-size: 14px;
            width: 50px;
          }

          // Ipad Pro
          @media #{$info-laptop-smallest} {
            font-size: 16px;
          }

          // Ipad
          @media #{$info-ipad} {
            padding: 1px 2px;
            font-size: 14px;
          }

          // Phone
          @media #{$info-phone-normal} {
            font-size: 13px;
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////
// Section Image + Rules + Award
.section-rules__story {
  .image-rules {
    background-image: url("../img/group346.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h3 {
      font-family: BrushScript;
      font-size: 45px;
      padding-top: 60px;

      // Laptop 1368
      @media #{$info-laptop-normal} {
        font-size: 40px;
        padding-top: 40px;
      }

      // Ipad Pro
      @media #{$info-laptop-smallest} {
        font-size: 45px;
        padding-top: 60px;
        text-align: center;
      }

      // Ipad
      @media #{$info-ipad} {
        font-size: 35px;
        padding-top: 40px;
      }

      // Phone
      @media #{$info-phone-normal} {
        padding-top: 35px;
      }
    }

    /////////////////////////////////////////////////
    // Section Rules
    .group-rules {
      @include flex();

      // Ipad Pro
      @media #{$info-laptop-smallest} {
        flex-direction: column;
      }

      .text-rule {
        margin-right: 46px;

        // Ipad Pro
        @media #{$info-laptop-smallest} {
          margin-right: 0;
        }

        h4 {
          font-size: 30px;
          font-family: UTMAvoBold;
          color: #0071bc;
          margin-bottom: 10px;

          // Laptop 1280
          @media #{$info-laptop-small} {
            font-size: 30px;
          }

          // Ipad Pro
          @media #{$info-laptop-smallest} {
            text-align: center;
          }

          // Phone
          @media #{$info-phone-normal} {
            font-size: 25px;
            margin-bottom: 15px;
          }
        }

        .rules-ul {
          // Ipad Pro
          @media #{$info-laptop-smallest} {
            max-width: 768px;
            margin: 0 auto;
          }

          .rules-table {
            @include flex();
            list-style: none;
            margin-bottom: 10px;

            // Phone
            @media #{$info-phone-normal} {
              flex-wrap: wrap;
            }

            .rule-left {
              line-height: 30px;
              width: 250px;
              font-size: 16px;
              font-family: Verdana;
              font-weight: bold;

              // Laptop 1368
              @media #{$info-laptop-normal} {
                font-size: 13px;
                line-height: 30px;
              }

              // Laptop 1280
              @media #{$info-laptop-small} {
                width: 180px;
                font-size: 14px;
                line-height: 30px;
              }

              // Ipad Pro
              @media #{$info-laptop-smallest} {
                width: 220px;
                font-size: 13px;
              }

              // Ipad
              @media #{$info-ipad} {
                width: 200px;
              }

              // Phone
              @media #{$info-phone-normal} {
                width: 150px;
                font-size: 14px;
                line-height: 20px;
                flex-basis: 100%;
              }
            }

            .rule-right {
              line-height: 30px;
              font-size: 16px;
              font-family: Verdana;
              flex: 1;

              // Laptop 1368
              @media #{$info-laptop-normal} {
                font-size: 13px;
                line-height: 30px;
              }

              // Laptop 1280
              @media #{$info-laptop-small} {
                font-size: 14px;
                line-height: 30px;
              }

              // Ipad Pro
              @media #{$info-laptop-smallest} {
                font-size: 13px;
              }

              // Phone
              @media #{$info-phone-normal} {
                font-size: 12px;
                line-height: 20px;
              }
            }

            .text-red {
              color: #e70c23;
              font-style: italic;
            }
          }
        }
      }

      .image-rule {
        @include flex();
        flex-direction: column;
        justify-content: space-around;

        // Ipad Pro
        @media #{$info-laptop-smallest} {
          flex-direction: row;
          margin: 10px 0;
        }

        // Ipad
        @media #{$info-ipad} {
          align-items: center;
        }

        // Phone
        @media #{$info-phone-normal} {
          margin: 0;
          flex-direction: column;
        }

        .image-rule-top,
        .image-rule-bottom {
          width: 310px;

          // Laptop 1368
          @media #{$info-laptop-normal} {
            width: 290px;
          }

          // Ipad
          @media #{$info-ipad} {
            width: 40%;
          }

          // Phone
          @media #{$info-phone-normal} {
            width: 70%;
            margin: 10px 0;
          }

          img {
            width: 100%;
            object-fit: contain;

            // Laptop 1368
            @media #{$info-laptop-normal} {
              border-radius: 20px;
            }
          }
        }
      }
    }

    ///////////////////////////////////////////
    // Section Award
    .prizes {
      width: 100%;
      margin-top: 30px;
      padding-bottom: 80px;

      // Laptop 1280
      @media #{$info-laptop-small} {
        margin-top: 15px;
      }

      // Ipad Pro
      @media #{$info-laptop-smallest} {
        padding-bottom: 50px;
      }

      // Phone
      @media #{$info-phone-normal} {
        padding-bottom: 0;
      }

      .group-roll {
        position: relative;

        .prize {
          width: 100%;
          height: 100px;
          margin-bottom: 15px;

          // Laptop 1440
          @media #{$info-laptop-medium} {
            height: 95px;
          }
  
          // Laptop 1280
          @media #{$info-laptop-small} {
            height: 86px;
          }
  
          // Ipad Pro
          @media #{$info-laptop-smallest} {
            height: 80px;
          }
  
          // Ipad
          @media #{$info-ipad} {
            height: 75px;
          }
  
          // Phone
          @media #{$info-phone-normal} {
            height: 50px;
          }
  
          img {
            width: 100%;
            height: 100%;
          }
        }

        p{
          font-size: 40px;
          font-family: UTMAvoBold;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -100%);
          color: #FFFFFF;

          // Laptop 1440
          @media #{$info-laptop-medium} {
            font-size: 35px;
          }
  
          // Laptop 1280
          @media #{$info-laptop-small} {
            font-size: 30px;
            transform: translate(-50%, -105%);
          }
  
          // Ipad Pro
          @media #{$info-laptop-smallest} {
            font-size: 28px;
            transform: translate(-50%, -110%);
          }
  
          // Ipad
          @media #{$info-ipad} {
            font-size: 25px;
          }
  
          // Phone
          @media #{$info-phone-normal} {
            font-size: 20px;
          }
        }
      }

      .first-prize {
        @include flex();
        margin-left: 90px;

        // Laptop 1368
        @media #{$info-laptop-normal} {
          margin-left: 70px;
        }

        // Laptop 1280
        @media #{$info-laptop-small} {
          margin-left: 40px;
        }

        // Laptop 1200
        @media #{$info-laptop-smallest} {
          margin-left: 80px;
        }

        // Ipad Pro
        @media #{$info-laptop-smallest} {
          margin-left: 75px;
        }

        // Ipad
        @media #{$info-ipad} {
          margin-left: 20px;
        }

        // Phone
        @media #{$info-phone-normal} {
          margin-top: 10px;
          margin-left: 0;
          flex-direction: column;
        }

        .first-prize-img {
          width: 380px;
          height: 340px;

          // Laptop 1280
          @media #{$info-laptop-small} {
            width: 300px;
            height: 260px;
          }

          // Phone
          @media #{$info-phone-normal} {
            width: 70%;
            height: 220px;
            margin: 0 auto;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        .first-prize-text {
          margin-left: 50px;
          text-align: left;

          // Ipad
          @media #{$info-ipad} {
            margin-left: 25px;
          }

          // Phone
          @media #{$info-phone-normal} {
            @include flex();
            justify-content: space-evenly;
            margin-left: 0;
            margin-bottom: 40px;
          }

          h3 {
            font-size: 90px;
            padding: 0;
            font-family: SVN-Revolution;
            color: #e70c23;

            // Laptop 1280
            @media #{$info-laptop-small} {
              font-size: 70px;
            }

            // Ipad Pro
            @media #{$info-laptop-smallest} {
              text-align: left;
            }

            // Phone
            @media #{$info-phone-normal} {
              font-size: 80px;
            }
          }

          .text-first {
            // Phone
            @media #{$info-phone-normal} {
              @include flex();
              justify-content: center;
              flex-direction: column;
            }

            h4 {
              font-family: UTMAvoBold;
              font-size: 45px;

              // Laptop 1280
              @media #{$info-laptop-small} {
                font-size: 40px;
              }

              // Phone
              @media #{$info-phone-normal} {
                font-size: 30px;
              }
            }

            h5 {
              font-family: Verdana;
              font-size: 30px;

              // Laptop 1440
              @media #{$info-laptop-medium} {
                font-size: 28px;
              }

              // Laptop 1280
              @media #{$info-laptop-small} {
                font-size: 25px;
              }

              // Phone
              @media #{$info-phone-normal} {
                font-size: 20px;
              }
            }
          }
        }
      }

      .second-thirt-prize {
        @include flex();
        justify-content: space-between;
        margin-top: 20px;

        // Phone
        @media #{$info-phone-normal} {
          flex-direction: column;
        }

        .prizes-box {
          text-align: center;
          flex: 1;

          // Phone
          @media #{$info-phone-normal} {
            margin-bottom: 80px;
          }

          .prizes-images {
            width: 320px;
            height: 280px;
            margin: 0 auto;

            // Laptop 1280
            @media #{$info-laptop-small} {
              height: 250px;
              width: 290px;
            }

            // Phone
            @media #{$info-phone-normal} {
              width: 70%;
              height: 220px;
              margin: 0 auto;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          .prizes-text {
            .prizes-text-info {
              @include flex();
              align-items: flex-end;
              justify-content: center;

              h3 {
                padding: 0;
                font-size: 90px;
                font-family: SVN-Revolution;
                color: #e70c23;

                // Laptop 1440
                @media #{$info-laptop-medium} {
                  font-size: 90px;
                }

                // Laptop 1280
                @media #{$info-laptop-small} {
                  font-size: 70px;
                }
              }

              h4 {
                font-size: 45px;
                font-family: UTMAvoBold;

                // Laptop 1280
                @media #{$info-laptop-small} {
                  font-size: 40px;
                }

                // Phone
                @media #{$info-phone-normal} {
                  font-size: 30px;
                  margin-bottom: 30px;
                }
              }
            }

            h5 {
              font-family: Verdana;
              font-size: 40px;

              // Laptop 1440
              @media #{$info-laptop-medium} {
                font-size: 35px;
              }

              // Laptop 1280
              @media #{$info-laptop-small} {
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////
// Section Image-Form Story
.section-form__story {
  .image-form {
    background-image: url("../img/group507.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;

    // Laptop 1280
    @media #{$info-laptop-small} {
      padding-top: 30px;
    }

    // Phone
    @media #{$info-phone-normal} {
      padding-top: 20px;
    }

    .form-title {
      text-align: center;

      h3 {
        font-size: 45px;
        font-family: BrushScript;
        font-style: italic;

        // Laptop 1280
        @media #{$info-laptop-small} {
          font-size: 30px;
        }
      }

      h4 {
        font-size: 35px;
        font-family: UTMAvoBold;
        color: #0071bc;
        margin-bottom: 20px;

        // Laptop 1280
        @media #{$info-laptop-small} {
          font-size: 30px;
          margin-bottom: 15px;
        }

        // Phone
        @media #{$info-phone-normal} {
          margin-bottom: 10px;
          font-size: 25px;
        }
      }
    }

    .form-file-image {
      .title-form-file {
        background-color: #0071bc;
        color: white;
        font-weight: bold;
        text-align: left;
        margin-bottom: 20px;

        // // Laptop 1280
        // @media #{$info-laptop-small} {
        //   width: 80%;
        //   margin: 10px auto;
        // }

        // Phone
        @media #{$info-phone-normal} {
          margin-bottom: 10px;
        }

        p {
          font-size: 20px;
          font-family: Verdana;
          padding: 8px 0 10px 15px;

          // Laptop 1368
          @media #{$info-laptop-normal} {
            font-size: 16px;
            padding: 6px 0 7px 15px;
          }

          // Laptop 1280
          @media #{$info-laptop-small} {
            font-size: 14px;
          }

          // Phone
          @media #{$info-phone-normal} {
            padding-left: 10px;
          }
        }
      }
    }

    .form-inputs {
      .title-form-input {
        background-color: #0071bc;
        color: white;
        font-weight: bold;
        margin-bottom: 25px;
        text-align: left;

        // Laptop 1280
        @media #{$info-laptop-small} {
          margin-bottom: 15px;
        }

        // Phone
        @media #{$info-phone-normal} {
          width: 100%;
        }

        p {
          font-size: 20px;
          font-family: Verdana;
          padding: 8px 0 10px 15px;

          // Laptop 1368
          @media #{$info-laptop-normal} {
            font-size: 16px;
            padding: 6px 0 7px 15px;
          }

          // Laptop 1280
          @media #{$info-laptop-small} {
            font-size: 14px;
          }

          // Phone
          @media #{$info-phone-normal} {
            font-size: 12px;
            padding-left: 7px;
          }
        }
      }

      .group-form-input {
        text-align: center;

        .overlay {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.7);
          transition: opacity 500ms;
          visibility: hidden;
          opacity: 0;
          z-index: 10000;

          &:target {
            visibility: visible;
            opacity: 1;
          }

          .popup {
            margin: 0 auto;
            padding: 20px;
            background: #fff;
            border-radius: 5px;
            width: 30%;
            position: relative;
            top: 40%;
            // transition: all 5s ease-in-out;
            

            @media screen and (max-width: 700px){
              width: 70%;
            }    

            h2 {
              margin-top: 0;
              color: #333;
              font-family: Tahoma, Arial, sans-serif;
            }

            .close {
              position: absolute;
              top: 5px;
              right: 15px;
              transition: all 200ms;
              font-size: 30px;
              font-weight: bold;
              text-decoration: none;
              color: #333;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

              &:hover {
                color: red;
              }
            }

            .content {
              max-height: 30%;
              overflow: auto;
            }
          }
        }

        .form-control {
          @include flex();
          align-items: stretch;
          justify-content: stretch;
          position: relative;
          margin-bottom: 38px;
          padding-bottom: 38px;
          // max-width: 968px;
          margin: 0 auto;

          // Laptop 1440
          @media #{$info-laptop-medium} {
            // max-width: 768px;
            padding-bottom: 30px;
          }

          // Laptop 1280
          @media #{$info-laptop-small} {
            // max-width: 600px;
            padding-bottom: 25px;
          }

          .label-left {
            flex-basis: 20%;
            font-size: 18px;
            font-weight: bold;
            font-family: Verdana;
            text-align: left;
            align-self: center;

            // Laptop 1368
            @media #{$info-laptop-normal} {
              font-size: 16px;
            }

            // Laptop 1280
            @media #{$info-laptop-small} {
              font-size: 14px;
              flex-basis: 25%;
            }

            // Phone
            @media #{$info-phone-normal} {
              font-size: 12px;
              flex-basis: 45%;
            }

            .error-lable {
              color: red;
            }
          }

          .label-textarea {
            flex-basis: 20%;
            font-size: 18px;
            font-weight: bold;
            font-family: Verdana;
            text-align: left;

            // Laptop 1368
            @media #{$info-laptop-normal} {
              font-size: 16px;
            }

            // Laptop 1280
            @media #{$info-laptop-small} {
              font-size: 14px;
            }

            // Ipad
            @media #{$info-ipad} {
              flex-basis: 25%;
            }

            // Phone
            @media #{$info-phone-normal} {
              font-size: 12px;
              flex-basis: 35%;
            }

            .error-lable {
              color: red;
            }
          }

          .form-input {
            position: relative;
            @include flex();
            flex-direction: column;
            flex-basis: 100%;

            .label-right {
              padding: 10px;
              border-radius: 5px;
              outline: none;
              font-size: 15px;
              border: hidden;
              background-color: #fff3f7;
              border: 1px solid #29abe2;
              width: 90%;

              // Laptop 1368
              @media #{$info-laptop-normal} {
                font-size: 16px;
              }

              // Laptop 1280
              @media #{$info-laptop-small} {
                font-size: 12px;
                padding: 10px;
              }

              // Phone
              @media #{$info-phone-normal} {
                font-size: 10px;
                width: 80%;
                padding: 7px;
              }
            }

            .textarea {
              resize: none;
              background-color: #fff3f7;
              border-radius: 5px;
              outline: none;
              border: none;
              padding: 10px 20px 20px 10px;
              font-size: 18px;
              align-items: normal;
              height: 255px;
              border: 1px solid #29abe2;

              // Laptop 1368
              @media #{$info-laptop-normal} {
                font-size: 16px;
                height: 200px;
              }

              // Laptop 1280
              @media #{$info-laptop-small} {
                font-size: 12px;
                height: 180px;
              }

              // Ipad Pro
              @media #{$info-laptop-smallest} {
                padding: 5px 5px 12px;
                height: 170px;
              }

              // Phone
              @media #{$info-phone-normal} {
                font-size: 10px;
                height: 150px;
              }
            }

            #word-number {
              position: absolute;
              bottom: 3px;
              right: 10px;
              font-size: 14px;

              // Laptop 1280
              @media #{$info-laptop-small} {
                font-size: 11px;
              }

              // Phone
              @media #{$info-phone-normal} {
                font-size: 8px;
              }
            }
          }
        }

        .error-mes-textarea {
          color: red;
          font-size: 15px;
          font-family: Verdana;
          position: absolute;
          bottom: 20px;
          left: 0;
          visibility: hidden;

          // Laptop 1440
          @media #{$info-laptop-medium} {
            bottom: 10px;
            font-size: 14px;
          }

          // Laptop 1280
          @media #{$info-laptop-small} {
            bottom: 10px;
            font-size: 12px;
          }

          // Ipad
          @media #{$info-ipad} {
            bottom: 10px;
            font-size: 11px;
          }

          // Phone
          @media #{$info-phone-normal} {
            font-size: 12px;
          }
        }

        .error-mes {
          color: red;
          font-size: 15px;
          font-family: Verdana;
          position: absolute;
          bottom: 20px;
          left: 17%;
          visibility: hidden;

          // Laptop 1440
          @media #{$info-laptop-medium} {
            bottom: 10px;
            font-size: 14px;
          }

          // Laptop 1280
          @media #{$info-laptop-small} {
            bottom: 10px;
            font-size: 12px;
            left: 20%;
          }

          // Ipad
          @media #{$info-ipad} {
            bottom: 10px;
            font-size: 11px;
          }

          // Phone
          @media #{$info-phone-normal} {
            left: 26%;
            font-size: 12px;
          }
        }

        .error {
          .form-input {
            .label-right,
            .textarea {
              border: 1px solid red;
            }
          }

          small {
            visibility: visible;
          }
        }

        .success {
          .form-input {
            .label-right,
            .textarea {
              border: 1px solid green;
            }
          }

          small {
            visibility: visible;
          }
        }
      }

      .form-check {
        margin-bottom: 20px;
        @include flex();
        justify-content: center;

        // Phone
        @media #{$info-phone-normal} {
          max-width: 250px;
          margin: 0 auto;
        }

        .info-check {
          @include flex();
          margin-bottom: 10px;

          img {
            width: 25px;
            height: 25px;
            margin-right: 30px;

            // Laptop 1368
            @media #{$info-laptop-normal} {
              width: 20px;
              height: 20px;
            }

            // Phone
            @media #{$info-phone-normal} {
              width: 15px;
              height: 15px;
              margin-right: 10px;
            }
          }

          p {
            font-size: 18px;
            font-family: Verdana;

            // Laptop 1368
            @media #{$info-laptop-normal} {
              font-size: 16px;
            }

            // Ipad Pro
            @media #{$info-laptop-smallest} {
              font-size: 15px;
            }

            // Ipad
            @media #{$info-ipad} {
              font-size: 14px;
            }

            // Phone
            @media #{$info-phone-normal} {
              font-size: 10px;
            }
          }

          .error {
            color: red;
          }
        }

        .checkbox {
          @include flex();
          align-items: center;

          input {
            width: 25px;
            height: 25px;
            margin-right: 20px;

            // Laptop 1368
            @media #{$info-laptop-normal} {
              width: 20px;
              height: 20px;
            }

            // Phone
            @media #{$info-phone-normal} {
              margin-right: 10px;
            }
          }

          .form-checked {
            font-size: 18px;
            font-family: Verdana;
            margin-left: 10px;

            // Laptop 1368
            @media #{$info-laptop-normal} {
              font-size: 16px;
            }

            // Ipad Pro
            @media #{$info-laptop-smallest} {
              font-size: 15px;
            }

            // Ipad
            @media #{$info-ipad} {
              font-size: 14px;
            }

            // Phone
            @media #{$info-phone-normal} {
              font-size: 10px;
              margin-left: 0;
            }

            a {
              color: blue;
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
          }
        }
      }
    }

    .disabled-emtry {
      cursor: no-drop;
      outline: none;
      width: 250px;
      height: 50px;
      border-radius: 50px;
      font-size: 25px;
      font-family: Verdana;
      font-weight: bold;
      position: relative;
      color: white;
      background-color: rgba(0, 113, 188, 0.5);
      border: none;
      margin-bottom: 302px;

      // Laptop 1368
      @media #{$info-laptop-normal} {
        width: 200px;
        height: 40px;
        margin-bottom: 250px;
      }

      // Ipad Pro
      @media #{$info-laptop-smallest} {
        width: 180px;
        margin-bottom: 150px;
      }

      // Phone
      @media #{$info-phone-normal} {
        width: 160px;
        margin-bottom: 100px;
        margin-top: 20px;
        height: 35px;
      }

      .btn-shadow {
        background-color: #fffbd4;
        width: 220px;
        height: 20px;
        border-radius: 40px;
        margin: 5px auto 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        opacity: 0.2;

        // Laptop 1368
        @media #{$info-laptop-normal} {
          width: 180px;
          height: 15px;
        }

        // Ipad Pro
        @media #{$info-laptop-smallest} {
          width: 160px;
          height: 15px;
        }

        // Ipad
        @media #{$info-ipad} {
          width: 150px;
        }

        // Phone
        @media #{$info-phone-normal} {
          width: 140px;
        }
      }
    }

    .success-emtry {
      cursor: pointer;
      background-color: #0071bc;
      @include box-shadow(1px, 3px, 10px, rgba(0, 0, 0, 0.4));

      &:active {
        @include box-shadow(1px, 3px, 10px, rgba(0, 0, 0, 0.5));
        transform: translateY(4px);
      }
    }
  }
}
